body {
    background-color: rgb(224, 224, 224);
    color:rgb(5, 39, 33);
}

h1{
    text-align: center;
}

#selection{
    display: inline;
    float: left;
}

.puzzle_cell{
    display:table-cell;
    margin:auto;
    text-align: center;
    font-size: 40px;
    width:50px;
    height:50px;
}

